.input-bar-container {
  background-color: rgb(255, 249, 249);
  position: fixed;
  bottom: 20px; /* Distance from the bottom */
  width: 90%; /* Adjust this value to limit the width */
  max-width: 600px; /* Maximum width for large screens */
  margin: 0 auto; /* Center the container horizontally */
  left: 0;
  right: 0;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-bar {
  background-color: rgb(255, 249, 249);
  flex-grow: 1;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}

.cancel-icon {
  margin-left: 10px;
  cursor: pointer;
}


.record-btn, .audio-upload, .image-upload {
  margin-bottom: 10px;
}

.audio-preview, .image-preview {
  margin-top: 10px;
  max-width: 100%;
}

.image-preview {
  max-height: 150px;
}