.InputBar-container {
    background-color: rgb(255, 249, 249);
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    align-items: center;
    box-sizing: border-box;
}

.TextInput {
    background-color: rgb(255, 249, 249);
    flex-grow: 1;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    max-height: 100px;
    overflow-y: auto;
}

.ImageInput, .AudioInput {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 10px; /* Add space between buttons */
}

@media (max-width: 600px) {
    .InputBar-container {
        padding: 8px;
        max-width: 100%; /* Make sure it takes up the full width on smaller screens */
    }

    .TextInput {
        font-size: 14px;
        max-height: 80px; /* Adjust the height of the input box for small screens */
    }

    .ImageInput, .AudioInput {
        width: 28px;
        height: 28px;
    }
}

@media (min-width: 600px) {
    .InputBar-container {
        max-width: 600px;
        padding: 15px;
    }

    .TextInput {
        font-size: 16px;
        max-height: 120px; /* Adjust the height for larger screens */
    }
}
    